<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Edit Review</title>
  </head>
  <body>
    <div class="navbar">
      <h1 class="title">Anime Review</h1>
      <div class="userInfo">
        <h2>
          <a href="/dashboard" class="name"
            >{{currentUser.firstName}} {{currentUser.lastName}}</a
          >
        </h2>
      </div>
      <div class="userButtons">
        <a href="/home" class="userAction">Back</a>
        <form action="/logout" method="POST">
          <input type="submit" value="Logout" class="userAction" />
        </form>
      </div>
    </div>
    <div class="content">
      <h2>Edit This Review</h2>
      <div class="form">
        <form action="/updateAnime" method="post">
          <input type="hidden" name="id" value="{{anime.id}}" />
          <label
            >Title: <input type="text" name="title" value="{{anime.title}}"
          /></label>
          <label
            >Creator:
            <input type="text" name="creator" value="{{anime.creator}}"
          /></label>
          <label
            >Release year:
            <input type="number" name="year" value="{{anime.year}}"
          /></label>
          <label
            >Watch platform:
            <input type="text" name="platform" value="{{anime.platform}}"
          /></label>
          <label style="padding-right: 15px">Genre:</label>
          <select name="genre">
            <option value="{{anime.genre}}">{{anime.genre}}</option>
            {% for genre in genres %} {% if genre != anime.genre %}
            <option value="{{genre}}">{{genre}}</option>
            {% endif %} {% endfor %}
          </select>
          <label
            >Thoughts:
            <input type="text" name="thoughts" value="{{anime.thoughts}}"
          /></label>
          <input type="submit" value="Update" class="action" />
        </form>
      </div>
    </div>
  </body>
</html>
