<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Anime Review</title>
  </head>
  <body id="logUndReg">
    <div class="content">
      <h1>Registration</h1>
      <div class="form">
        <form action="/register" method="post">
          <label>First Name: <input type="text" name="firstName" /></label>
          <label>Last Name: <input type="text" name="lastName" /></label>
          <label>Email: <input type="email" name="email" /></label>
          <label>Password: <input type="password" name="password" /></label>
          <label
            >Confirm Password: <input type="password" name="confirmPass"
          /></label>
          <input type="submit" value="Register" class="logUndRegAction" />
        </form>
      </div>
      <h1>Login</h1>
      <div class="form">
        <form action="/login" method="post">
          <label>Email: <input type="email" name="email" /></label>
          <label>Password: <input type="password" name="password" /></label>
          <input type="submit" value="Login" class="logUndRegAction" />
        </form>
      </div>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p>{{message}}</p>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </body>
</html>
